# python files
*.py[co]
# C
*.so
# vim files
*.sw?
# python distribution/packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.tox
# sphinx
docs/build
# other
*.log
*.bak
# pip
pip-log.txt
