[run]
omit = tests*,docs*,.tox*,pbr*,setup.py
cover_pylib = False
branch = True
source = podtags

[html]
directory = docs/build/html/coverage
title = Podtags tests coverage

[xml]
output = docs/build/html/coverage/coverage_podtags.xml
